.skills__container{
    background-color: var(--color-white);
   text-align: center;
   display: flex;
   padding:7rem 6rem 4rem ;
}
.skills h1{
    color:var(--color-black);
}
.skills,.skill__img{
    width:50%;
}
.skill__img img{
    width: 100%;
}
.skill{
    font-size: 60px;
}
.skills_icons{
    margin-top: 1rem;
    padding:2rem;
    justify-content:flex-start;
    align-items:flex-start;
    grid-template-columns:repeat(3,1fr);
    display:grid;
    gap:2rem;
}
.icon{
transition: rotate 5s ease;
}
.icon:hover{
  transform:rotate(20deg) ;
}
.skill p{
    font-size:10px;
    font-weight: 500;
    color:#3A3845;
}
.react{
   animation:rotation 6s infinite linear;
   color:#00d8ff;
}

@keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
  }
  .node{
   color:#68A063;
}
.mongodb{
    color:#68A063;
}
.git{
    color:#c9510c;
}
.javascript{
    color:#f0db4f;
    background-color:var(--color-black);
}
.bootstrap{
   color:#080135;
}
.html{
    color:#e34c26;
}
.heroku{
    color:#6762a6;
}

@media  screen and (max-width:1024px) {
 .skills__container{
    padding:5rem 6rem;
     width: 100%;
     display: flex;
     flex-direction:column;
     align-items: center;
     justify-content: center;
 }
 .skills_icons{
    padding: 2rem 0;
 }
 .skill__img{
display: none;
 }
}
@media screen and (max-width:600px) {
    .skills__container{
        padding:4rem 1rem 2rem;
        width: 100%;
    }
    .skills{
        width:80%;
    }
 
}

