.contact__container{
   background-color:var(--color-white);
   padding:7rem 6rem 1rem ;
   text-align: center;
   display:flex;
   flex-direction: column;
   justify-content: center;
   position: relative;
   height:100vh;
}
h1{
    color:var(--color-black);
}
.contacts,.social__info{
    display: flex;
}
.contacts{
    margin-top:2rem;
    padding:2rem ;
    width: 100%;
}
.social__details{
  width: 50%;  
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns:repeat(2,1fr);
  padding:3rem;
}
.social__info{
  width: max-content;
  align-items:center;
gap:.5rem;
}
.social__info a{
    font-size: 40px;
    color:#3A3845;
}
.social__info a:hover{
    color:var(--color-orange);
}
.form__cotnainer{
    width: 50%;
    background-color: var(--color-imp);
    padding:.7rem;
}
.form__cotnainer h3{
    margin: 0;
    color:#3A3845;
}
input,textarea{
    width: 100%;
    padding:.5rem;
    margin:.3rem 0;
    background-color: var(--color-imp);
    border:1px solid #3A3845;
}
input::placeholder,textarea::placeholder{
    color:#78938A;
}
.btn-submit{
padding:.5rem;
background-color:var(--color-orange);
color:var(--color-white);
border:1px solid var(--color-orange);
display: flex;
gap:.2rem;
align-items: center;
justify-content: center;
}
.btn-submit:hover{
    border:1px solid var(--color-orange);
    background: transparent;
    color:var(--color-orange);
}
.success__message{
    padding:.5rem 1rem;
    position:absolute;
    right:4rem;
    background-color:#B4E197;
    width: max-content;
    color:#001E6C;
    border-radius: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: css 0s 3s forwards;
}
@keyframes css {
    to {
        width: 0;
        height: 0;
     overflow: hidden;
     visibility: hidden;
        
    }
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:2rem;

  }
.footer p{
    display: flex;
    justify-content: center;
    align-items: center;
 font-weight:500;
}

@media screen and (max-width:1024px) {
    .contact__container{
        text-align: center;
        width:100%;
        padding:5rem 6rem;
    }
    .contacts{
        padding:2rem 0;
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .social__details{
        display: flex;
        flex-direction:row;
        justify-content: space-evenly;
        padding:0;
        margin:.5rem 0;
    
    }
    .social__info h5{
        display: none;
    }
    .form__cotnainer{
        margin-top:2rem;
        width: 100%;
    }
}
@media screen and (max-width:600px){
    .contact__container{
        text-align: center;
        width:100%;
        padding:5rem 1rem 2rem;
    } 
    .social__details,.form__cotnainer{
        width: 100%;
    }
    .footer{
        margin: 0;
    }
}